.mo-friedm_env-arrow-wrapper {
    display: flex;
    justify-content: flex-start;

    &:has(.FriedmEnev_container_arrow_body) ~ .configurable--container,
    &:has(.FriedmEnev_container_arrow_body) ~ .delivery--container {
        display: none !important;
    }
    &:has(.FriedmEnev_container_arrow_body) ~ .product--price-info {
        margin-top: 0 !important;
    }

    .FriedmEnev_container_arrow_body {
        display: grid;
        grid-template-columns: 50px;
        grid-template-rows: 30px 25px;
        grid-gap: 2px;
        justify-items: center;
        margin: 0 5px;

        .Mo-FriedmEnev_container_arrow_image {
            width: 30px;
        }
    }

    .FriedmEnev_arrow:not(.gbmed-enev-arrowOld) .FriedmEnev_anchor {
        height: 94%;
        top: 3%;
    }

    .FriedmEnev_arrow {
        scale: .6;
        top: -10px;
        left: 3px;
    }
}

.product--box.box--basic:has(.mo-friedm_env-arrow-wrapper) .product--title {
    margin-bottom: 0 !important;
}